<!doctype html>
<html>
<head>
  <title>ISI - Company Dashboard</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div id="header" class="header">
    <img src="{{ url_for('static', filename='imgs/ISIColourLogo.png') }}" alt="ISI Logo" class="logo">
    <div id="header-content">
      <h1>ISI - Company Dashboard</h1>
      <div id="searchbar">
        <input type="text" id="search" name="search" placeholder="Search...">
        <input type="submit" value="Search">
      </div>
    </div>
  </div>
  <!-- Dashboard section -->
  <div id="dashboardlayout">
    <div id="dashboard">
      <h2>Useful Links</h2>
      <a href="https://isisafety.com/" class="dashboard-button">Company Website</a>
      <a href="https://live.servicesight.com/" class="dashboard-button">Service Sight</a>
      <a href="https://lucid.app/" class="dashboard-button">Lucid App</a>
    </div>
    <div id="dashboard">
      <h2>Tools</h2>
      <a href="/upload" class="dashboard-button">ISI - PDF Data Extraction Tool</a>
      <a href="#" class="dashboard-button">ISI - Remedial Actions CSV Generator (Placeholder)</a>
      <a href="#" class="dashboard-button">ISI - Incident Report CSV Generator (Placeholder)</a>
    </div>
    <div id="dashboard">
      <h2>Technical Support</h2>
      <a href="#" class="dashboard-button">Suggestion Request (Placeholder)</a>
      <a href="#" class="dashboard-button">Support Request (Placeholder)</a>
    </div>
    <div id="dashboard">
      <h2>Other</h2>
      <a href="/quiz" class="dashboard-button">SAFED Mock Test - LOLER</a>
      <a href="/leaderboard" class="dashboard-button">SAFED Mock Test - Leaderboard</a>
      <a href="#" class="dashboard-button">Submit Sales Opportunity (Placeholder)</a>
    </div>
  </div>
</body>
</html>
