<!DOCTYPE html>
<html>
  <head>
    <title>Exam Leaderboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
  <div id="header" class="header">
    <img src="{{ url_for('static', filename='imgs/ISIColourLogo.png') }}" alt="ISI Logo" class="logo">
    <div id="header-content">
      <h1>ISI - Company Dashboard</h1>
      <div id="searchbar">
        <input type="text" id="search" name="search" placeholder="Search...">
        <input type="submit" value="Search">
      </div>
    </div>
  </div>
  <div id="dashboardlayout">
    <div id="dashboard">
      <h1>Mock Exam Leaderboard</h1>
        <table>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
            <th>Total Questions</th>
            <th>Percentage</th>
          </tr>
          {% for result in results %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ result['name'] }}</td>
            <td>{{ result['score'] }}</td>
            <td>{{ result['total_questions'] }}</td>
            <td>{{ result['percentage'] }}%</td>
          </tr>
          {% endfor %}
        </table>
        <a href="/" class="dashboard-button" style=" float: right;">Back to Dashboard</a>
      </div>
    </div>
  </body>
</html>
